 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 121px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 42px;
} .u-section-2 {
  background-image: none;
  min-height: 900px;
}

.u-section-2 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-2 .u-table-body-1 {
  background-image: none;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 20px calc(((100% - 1140px) / 2)) 0 auto;
  padding: 15px 30px 16px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: -46px auto 3px calc(((100% - 1140px) / 2));
  padding: 15px 30px 16px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }
}