 .u-section-1 {
  min-height: 516px;
  background-image: none;
}

.u-section-1 .u-product-1 {
  min-height: 516px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-line-1 {
  top: 33px;
  transform-origin: center bottom 0px;
  position: absolute;
  height: 450px;
  width: 3px;
}

.u-section-1 .u-image-1 {
  width: 450px;
  height: 456px;
  margin: 30px auto 0 83px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: -423px 219px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 10px 299px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  text-align: start;
  margin: 27px 299px 0 auto;
}

.u-section-1 .u-product-price-1 {
  margin: 106px 291px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 46px 252px 0 auto;
  padding: 12px 42px 13px 41px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 400px;
  }

  .u-section-1 .u-product-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 336px;
    height: 339px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -304px;
    margin-right: 344px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 108px;
    margin-right: auto;
    margin-left: 402px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 377px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 975px;
  }

  .u-section-1 .u-product-1 {
    width: 720px;
    margin: 30px auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 490px;
    height: 473px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 285px;
    margin-top: 30px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 3px;
    margin-right: 229px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -36px;
    margin-right: 229px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 116px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
    margin-right: auto;
    padding: 17px 115px 18px 114px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 239px;
  }

  .u-section-1 .u-product-1 {
    width: 540px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-1 .u-image-1 {
    height: 182px;
    width: 182px;
    margin-top: 0;
    margin-right: 328px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -182px;
    margin-right: 22px;
    margin-left: 266px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 258px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -61px;
    margin-right: 172px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 112px;
    margin-right: 169px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
    margin-right: 56px;
    padding: 16px 59px 16px 58px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 530px;
  }

  .u-section-1 .u-product-1 {
    width: 340px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 280px;
    height: 280px;
    margin-top: 1px;
    margin-right: 158px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 193px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 571px;
    margin-right: 108px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 108px;
  }

  .u-section-1 .u-product-price-1 {
    margin-top: 101px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 46px;
    margin-right: auto;
  }
}