 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100px;
}

.u-section-1 .u-text-1 {
  margin: 22px auto 0;
}

.u-section-1 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 9px auto 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 464px;
}

.u-section-2 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100px;
}

.u-section-3 .u-text-1 {
  margin: 22px auto 0;
}

.u-section-3 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 9px auto 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
    margin-top: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    width: 340px;
  }
} .u-section-4 {
  min-height: 464px;
}

.u-section-4 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 100px;
}

.u-section-5 .u-text-1 {
  margin: 22px auto 0;
}

.u-section-5 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 9px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-5 .u-line-1 {
    width: 540px;
    margin-top: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-line-1 {
    width: 340px;
  }
} .u-section-6 {
  min-height: 464px;
}

.u-section-6 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-6 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 100px;
}

.u-section-7 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-7 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 14px auto 0;
}

@media (max-width: 991px) {
  .u-section-7 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-line-1 {
    width: 340px;
  }
} .u-section-8 {
  min-height: 464px;
}

.u-section-8 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-8 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 100px;
}

.u-section-9 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-9 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 14px auto 0;
}

@media (max-width: 991px) {
  .u-section-9 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-line-1 {
    width: 340px;
  }
} .u-section-10 {
  min-height: 464px;
}

.u-section-10 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-10 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 100px;
}

.u-section-11 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-11 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 14px auto 0;
}

@media (max-width: 991px) {
  .u-section-11 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-line-1 {
    width: 340px;
  }
} .u-section-12 {
  min-height: 464px;
}

.u-section-12 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-12 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 100px;
}

.u-section-13 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-13 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 14px auto 0;
}

@media (max-width: 991px) {
  .u-section-13 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-line-1 {
    width: 340px;
  }
} .u-section-14 {
  min-height: 464px;
}

.u-section-14 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-14 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-14 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}